/*navbar*/
body
{
        background-color: #ebeef0;
    overflow-x: hidden;
    overflow-y: scroll;
}
.navbar-fixed-top
{
    background: #fff;
    margin: 0!important;
    position: fixed;
    top: 0;
    left: 64px;
    right: 0;
    z-index: 2;
    font-family: 'Nunito', sans-serif;
    border-bottom: 1px solid #dadfe3;
    border-top: none;
    height: 51px;
}
.logo
{
    padding: 9px 0;
    border-bottom: 1px solid #333;
    cursor: pointer;
}
.preview
{
    border: 1.5px dashed #cfcfcf;
    padding:5px 15px;
    background-color:#ffffff;
}
.preview h3{
    text-align:center !important;
}
.shape {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width:30px;
}
.navbar-brand
{
font-size:22px;
    font-weight:700;
}
.navbar-brand span
{
    color:#00c97d;
     font-weight:800;
}
.navbar-nav>li>a
{
  font-weight:600;
font-size:16px;
    padding:15px 25px;
    padding
}
.navbar-nav>li>a:hover{
    color:#00c97d !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #000000;
    background-color: transparent;
}
ul#pro li
{
   list-style: none;
    margin-left:-20px !important;  
      padding:8px 0px !important;
}
ul#pro li a
{
   font-family: 'Nunito', sans-serif;
    font-size:16px !important;
    cursor:pointer;
    color:#000000;
    text-decoration: none;
}
ul#pro li a:hover{
    color:#00c97d;
}

#sidebar i {
    font-size: 25px;
    color: #fff;
    padding: 5px;
    vertical-align: middle;
    line-height: 38px;
}
.container2
{
    margin-left:10%;
    margin-right:15%;
}
.dropdown {
  position: relative;
  display: inline-block;
   
}

.dropdown-content {
     top: 48px;
    left: 0;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    animation-timing-function: ease-out;
  display: none;
    float: left;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
  position: absolute;
  background-color: #ffffff;
  min-width: max-content;
  overflow: auto;
    border: 1px solid rgba(0,0,0,.15);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 15px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
.dropdown-menu
{
   transition: transform .3s,width .3s,height .3s,-webkit-transform .3s;
    width:100%;
    min-width: 100px;
    padding:10px;
    box-shadow: 0 0 50px rgba(0,0,0,.10);
}
.dropdown-menu>li>a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-size:16px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
 z-index: 300;
    left: -10%;
    top: 50px;
    margin-left:60px;
    border:none;
    opacity: 1;
    font-size:16px;
    -ms-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
    max-height: none;
    overflow: visible;
}
.dropdown-menu:before {
     content: '';
    position: absolute;
    width: 14px;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #fff;
    top: -14px;
    left: 60%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.dropdown-menu:after {
    content: '';
    position: absolute;
    width: 14px;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid #fff;
    top: -14px;
    left: 60%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.buttonadd {
  background-color:#00c97d; 
  border: none;
   margin-top:8px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
    font-weight:700;
}
.right
{
    float:right;
}
.buttonnew {
  background: #00c97d;
    color: #fff!important;
    border: 1px solid #00c97d;
    padding: 5px 10px;
    border-radius:3px;
    line-height: 13px;
    margin-left: 10px;
    margin-top: 12px;
    -webkit-font-smoothing: initial!important;
}
.buttonedit
{
padding:2px 10px; 
    background-color: white;
    border: 1px solid #00c97d; 
}
.tooltip-inner {
    min-width: max-content;
    width:100% !important;
    padding: 5px 5px;
    color: #fff;
    margin-left:-8px;
    font-size:14px;
     font-family: 'Nunito', sans-serif;
    background-color: #000;
    border-radius: 4px;
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: -10%;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}
#sidebar {
    background: #382e28 ;
    z-index: 881;
    width: 65px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.sidebar-menu ul li
{
    text-align: center;
    position: relative !important;
    margin: 20px 0;
    margin-left:-40px;
}
#sidebar .icons {
    font-size: 20px;
    color: #e6e6e6;
    border-radius:2px;
    padding:0px 10px;
    display: inline-block;
}
.icons:hover
{
    background-color: #48413e;
    padding:5px 10px;
}
#sidebar .sidebar-menu li active, #sidebar .sidebar-menu li.active .icons {
    background-color: #00c97d;
    padding:0px 10px;
}

.sidebar-menu ul li:first-child
{
    padding-top:10px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.main
{
    margin-top:50px;
    margin-left:100px;
    padding:20px;
    right: 0;
    bottom: 0;
    top: 51px;
    overflow: auto;
    background-color: #ebeef0;
     font-family: 'Nunito', sans-serif;  
    min-width: 800px;
}
.sitesdiv, .stockdiv, .companydiv, .employeediv
{
   margin-top:50px;
    margin-left:100px;
    padding:20px;
    width:100%;
    right: 0;
    bottom: 0;
    top: 51px;
    overflow: auto;
    background-color: #ebeef0;
     font-family: 'Nunito', sans-serif;  
    min-width: 800px;
}
.site-card, .stock-card {
    background-color: #fff;
    border-radius: 0px;
    padding:20px 20px;
    margin-top:10px;
     width:100%;
    position: relative;
    box-shadow: 0 1px 2px 1px rgba(24,24,24,.02);
    cursor: pointer;
}
.spancolor
{
    color:#ff0000;
}
.medimage
{
    max-width:400px;
    max-height:200px;
    width:100% !important;
}
.site-card h3, .stock-card h3{
    font-weight:800;
    text-align: center;
    font-size:22px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.5px;
}
.employeediv h3
{
     font-weight:800;
    text-align: left;
    font-size:22px;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.5px;
}
.site-card p, .stock-card p{
    font-weight:500;
    text-align: center;
    font-size:16px;
   font-family: 'Nunito', sans-serif;
    letter-spacing: 0.5px;
}
.stock-card p span {
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    color: red;
}
.preview p{
    font-weight:600;
    text-align: left;
    padding:10px 0px;
    font-size:16px;
   font-family: 'Nunito', sans-serif;
    letter-spacing: 0.5px;
}
.fa-plus-square {
    float: center !important;
    font-size: 50px !important;
    color: #00c97d;
    padding-top: 29%;
    padding-left: 43%;
}
.main h3
{
  font-family: 'Nunito', sans-serif;  
    font-weight:700;
    font-size:26px;
}
.main p
{
    font-size:16px;
    color: rgba(0,0,0,.54);
}
input[type=text], input[type=email], input[type=password], input[type=number]  {
    width: 80%;
    padding: 12px 20px;
    min-height: 45px;
    margin: 8px 0;
    color: #000000;
    border: 1px solid #DBDFE3;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: 'Nunito', sans-serif;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    background-color: #E2E2E2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 40px;
    outline: none;
    font-family: 'Nunito', sans-serif;
}
.selectit {
    width: 80%;
    min-height: 45px;
    padding: 12px 20px;
    margin: 8px 0;
   font-family: 'Nunito', sans-serif;
 border: 1px solid #DBDFE3;
    box-sizing: border-box;
    background-color: #ffffff;
}
.textarea {
    width: 80%;
    padding: 12px 20px;
    min-height: 45px;
    margin: 8px 0;
    min-height: 100px;
    color: #000000;
    border: 1px solid #DBDFE3;
    box-sizing: border-box;
    background-color: #ffffff;
}
.full
{
    width:80%;
}
label {
    display: inline-block;
    max-width: 100%;
   margin-top:10px;
    font-size:13px;
    margin-bottom: 0;
    font-weight: 700;
}
.top
{
    margin-top:20px;
}
.newcard {
    margin-top:10px;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 25px;
    position: relative;
    border:1px solid #cfcfcf;
    box-shadow: 0 1px 2px 1px rgba(24,24,24,.02);
    margin-bottom: 15px;
    cursor: pointer;
}
.newcard h4
{
 font-family: 'Nunito', sans-serif;   
 font-size:20px;
     letter-spacing: 0.2px;   
    margin: 0;
    font-weight: 700;
    line-height: 25px;
}
.newcard p
{
    font-size:12px;
    color: rgba(0,0,0,.54);
}
.newcard h4:hover
{
   color:#00c97d; 
}
<!--datatables-->
.table
{
    background-color:#ffffff !important;
}
  #myTable {
    border-collapse: collapse;
    width: 100%;
      margin-top:40px;
     font-family: 'Nunito', sans-serif;
    font-size:14px;
     letter-spacing: 0.2px;
  }
  .first
{
    border:none !important;
}
.drivetab td:first-child
{
padding-top:30px;
}
.table-user-information > tbody > tr > td:first-child {
    text-align:left;
    font-weight:600;
}
  #myTable th, #myTable td {
    text-align: left;
    padding: 10px;
    letter-spacing:0.4px;
    font-size:14px;
    font-weight:500;
 font-family: 'Nunito', sans-serif;
  }
   th
  {
      background-color:#00A861;
      color:#ffffff;
   font-family: 'Nunito', sans-serif;
      font-size:15px;
      letter-spacing:0.5px;
      padding:10px;
  }
.hidetext { -webkit-text-security: none; }
.hidetext { -webkit-text-security: circle; }
.hidetext { -webkit-text-security: square; }
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
 
  <!--tab-panel-->

  .tabbable-panel {
    border:1px solid #eee;
       background-color: #ffffff;
    padding: 10px;
  }

  /* Default mode */
  .tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
  }
  .tabbable-line > .nav-tabs > li {
    margin-right: 2px;
    font-size:15px;
   font-family: 'Nunito', sans-serif;
  }
  .tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
  }
  .tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
  }
  .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  .tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #f3565d;
    position: relative;
  }
  .tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  .tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
  .portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
  }
  
  .table-user-information > tbody > tr > td {
    border-top: 0;
    padding:8px 5px;
}
<!--modal-css-->


  .modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 400px;
        height:auto;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	} 
/*Right*/
	.modal.right.fade .modal-dialog {
		right: -400px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}
.title
{
    font-weight:800;
    font-size:22px;
}
/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
         font-family: 'Nunito', sans-serif;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color:#00a861 !important;
        font-weight:700;
        color:#ffffff;
	}

/* ----- v CAN BE DELETED v ----- */

